<h1>Add a review</h1>

<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %><br>
  <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5]%><br>
  <%= f.submit "Submit review", class: "btn btn-primary" %><br>
<% end %><br>
<%= link_to restaurant_path(@restaurant), class:"btn btn-secondary" do %>
  <i class="fas fa-chevron-left"> Back</i>
<% end %>
